name: Start

on:
  #自动运行：每天早上6点
  schedule:
    - cron: 0 22 * * *
  #手动运行
  workflow_dispatch:
    inputs:
      runner:
        description: 'Runner On ubuntu-latest or self-hosted'
        required: true
        type: string
      config_only:
        description: 'Only output configuration files, do not build firmware.'
        required: true
        type: boolean

permissions: write-all

jobs:
  CleanGithub:
    name: CleanGithub
    uses: ./.github/workflows/CleanGithub.yml
    with:
      runner: ${{ inputs.runner || 'self-hosted' }}
    secrets: inherit

  BuildFirmware:
    name: ${{matrix.SOURCE}}
    needs: CleanGithub
    uses: ./.github/workflows/BuildFirmware.yml
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        CONFIG: [IPQ60XX-WIFI-YES, IPQ60XX-WIFI-NO]
        SOURCE: [LiBwrt/openwrt-6.x]
        BRANCH: [k6.12-nss]
    with:
      runner: ${{ inputs.runner || 'self-hosted' }}
      config: ${{matrix.CONFIG}}
      repo: https://github.com/${{matrix.SOURCE}}.git
      branch: ${{matrix.BRANCH}}
      source: ${{matrix.SOURCE}}
      config_only: ${{ inputs.config_only || false }}

